.search__widget {
  position: relative;
  width: clamp(150px, 288px, 100%);
  background-color: transparent;
  margin: 8px;
}

.widget__label {
  background-color: var(--white-00);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: all 0.2s ease;
  font-size: var(--font-xs);
  font-weight: 400;
  line-height: 16px;
  color: var(--grey-02);
  padding-inline: 5px;
}

.widget__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.widget__input {
  width: 100%;
  border: none;
  padding: 12px 16px;
  background-color: transparent;
  font-size: var(--font-xs);
  color: var(--black-01);
  line-height: 16px;
  font-weight: 400;
  outline: none;
  border: 1px solid var(--grey-03);
  border-radius: 4px;

  &:not(:placeholder-shown) + .widget__label {
    top: -2px;
    font-size: var(--font-xxs);
  }

  &:focus-visible {
    border: 1px solid var(--blue-00);
  }

  &:focus + .widget__label {
    top: -2px;
    font-size: var(--font-xxs);
  }

  &:is(:-webkit-autofill, :autofill) + .widget__label {
    top: -2px;
    font-size: var(--font-xxs);
  }
}
